<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1" />*@     
    <meta name="description" content="@ViewBag.Description" />
    <meta name="fragment" content="!">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-8410181-2', 'strands.de');
        ga('send', 'pageview');

</script>
</head>
<body>
    <div id="content" class="pure-g-r">
        <div id="nav" class="pure-u-1">
            <div class=" rq-menu pure-menu pure-menu-open pure-menu-horizontal">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home", new {Strand = "Themes", Section = "Home"}, null)</li>
                    <li><img src="~/Content/Themes/strands/images/tabseparator.gif" alt="" /></li>
                    <li>@Html.ActionLink("Science & Philosophy", "Index", "Home", new {Strand = "Themes", Section = "Science"}, null)</li>
                    <li><img src="~/Content/Themes/strands/images/tabseparator.gif" alt="" /></li>
                    <li>@Html.ActionLink("Arts & Literature", "Index", "Home", new {Strand = "Themes", Section = "Arts"}, null)</li>
                    <li><img src="~/Content/Themes/strands/images/tabseparator.gif" alt="" /></li>
                    <li>@Html.ActionLink("Music", "Index", "Home", new {Strand = "Themes", Section = "Music"}, null)</li>
                    <li><img src="~/Content/Themes/strands/images/tabseparator.gif" alt="" /></li>
                    <li>@Html.ActionLink("Public Affairs", "Index", "Home", new {Strand = "Themes", Section = "Public Affairs"}, null)</li>
                    <li><img src="~/Content/Themes/strands/images/tabseparator.gif" alt="" /></li>
                    <li>@Html.ActionLink("Questionnaire", "Index", "Home", new {Strand = "Themes", Section = "Questionnaire"}, null)</li>
                </ul>
            </div>
        </div>
        <div id="main" class="pure-u-1">
            @RenderBody()
        </div>
        <div id="footer" class="pure-u-1">
            <div class="rq-instructions">
                <a href="">Home</a> <span class="accent">&nbsp;|&nbsp;</span>
                <a href="~/about">About</a> <span class="accent">&nbsp;|&nbsp;</span>
				<a href="~/about/terms">Terms</a> <span class="accent">&nbsp;|&nbsp;</span> 
				<a href="~/about/privacy">Privacy</a><br />
				<span id="copyright" class="smallcomment">Copyright 2002-2014 by <a href="http://www.jbunzel.de/jb/">Jürgen Bunzel</a></span>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
